
.firstlayer, .secondlayer, .thirdlayer, .fourthlayer, .fifthlayer {
  padding: 50px 0; /* Adjust the padding as necessary */
  margin: 20px 0; /* Adjust the margin as necessary */
}
.firstlayer, .secondlayer, .thirdlayer, .fourthlayer, .fifthlayer {
  min-height: 800px; /* Adjust the min-height as necessary */
}

.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212529;
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top of the page */
  left: 0; /* Align to the left of the page */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays above other content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
 /* background: #FC5C7D;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(rgb(19, 19, 19), rgb(22, 22, 22)); */
  background: linear-gradient(to right, rgb(122, 122, 122), rgb(241, 79, 53), rgb(244, 143, 42));


  
}
.imgpfp{
  border-radius: 50%;
  height: 500px;
  width: 500px;
  object-fit: cover; /* This will ensure the image covers the area without distortion */

}
.intro {
  
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically in the container */
  align-items: center; /* Center children horizontally in the container */
  height: 50vh; /* Optional: Make the div take up the full viewport height */
  text-align: center; /* Center the text inside the h1 elements */
  width: 50vh;
  border-radius: 20px;
  background-color: rgba(222, 213, 213, 0.411); /* White with 50% opacity */
  
}

.intro h1 {
  margin: 0; /* Remove default margin of h1 to tighten the spacing */
  color: azure;
  font-size: 70px;
  /* Instagram's brand color, adjust as needed */
  padding: 0.3rem; /* Optional: Add some padding around the h1 elements */
}
.borders {
  border: none; /* Remove default border */
  height: 10px; /* Set the thickness of the HR */
  
  background-color: #FFF; /* Set the color of the HR to bold white */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow for depth */
}




.firstlayer {
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: 150px;
}

.introinfo{
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically in the container */
  align-items: center; /* Center children horizontally in the container */
  height: 50vh; /* Optional: Make the div take up the full viewport height */
  text-align: center; /* Center the text inside the h1 elements */
  width: 50vh;
  border-radius: 20px;
  background-color: rgba(222, 213, 213, 0.411); /* White with 50% opacity */
  overflow: hidden; /* This will hide the overflow content */

}



.secondlayer {
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: auto;
}
.introinfo p{
  margin: 0; /* Remove default margin of h1 to tighten the spacing */
  color: azure;
  font-size: 20px;
  white-space: normal; /* Ensures text wraps and doesn't overflow */
  overflow-wrap: break-word; /* Break words that are too long to fit */
  text-align: justify; /* Optional: This will justify your text */

}


.nmims-logo{
  border-radius: 20px;
  margin-top: 35px;
}

.download-cv-button {
  padding: 10px 20px;
  background-color: #252525b3; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer; /* Cursor changes to a hand icon when you hover over the button */
}

.download-cv-button:hover {
  background-color: #121c12; /* Darker shade of green */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */

.custom-shape-divider-top-1709205615 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1709205615 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 263px;
}

.custom-shape-divider-top-1709205615 .shape-fill {
  fill: #FFFFFF;
}


.card {
  width: 220px;
  background-color: #212529;
  color: black;
  position: relative;
  border-radius: 6.5em;
  padding: 2em;
  transition: transform 0.4s ease;
  height: 800px;
  overflow: hidden;
}

.card .card-content {
  background-color: #262627;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 150px;
  transition: transform 0.4s ease;
}

.card .card-top, .card .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card .card-top p, .card .card-top .card-title, .card .card-bottom p, .card .card-bottom .card-title {
  margin: 0;
}

.card .card-title {
  font-weight: bold;
}

.card .card-top p, .card .card-bottom p {
  font-weight: 600;
}

.card .card-bottom {
  align-items: flex-end;
}

.card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: flex;
  align-content: center;
  object-fit: contain;
  background-color: #212529;

}



.card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card:hover .card-content {
  transform: scale(0.96);
}


.card:active {
  transform: scale(0.9);
}


.htmllogo{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: flex;
  align-content: center;
  object-fit: contain;

}



.thirdlayer{
 display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: auto;

}

.fourthlayer{
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: auto;
  flex-direction: row;


}
.fourthlayer .container {
  display: flex;
  justify-content: space-around; /* This will space your cards evenly */
  flex-wrap: wrap; /* This will allow cards to wrap onto the next line on smaller screens */
}
