
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-on-scroll {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}


.firstlayer, .secondlayer, .thirdlayer, .fourthlayer, .fifthlayer {
  padding: 50px 0; /* Adjust the padding as necessary */
  margin: 20px 0; /* Adjust the margin as necessary */
}
.firstlayer, .secondlayer, .thirdlayer, .fourthlayer, .fifthlayer {
  min-height: 100vh; /* Adjust the min-height as necessary */
  margin-top: 100px;
}

.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
position: fixed;
top: 0;
background-color: #121c12;
width: 100%;
z-index: 1100;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{



  
}
.imgpfp{
  border-radius: 50%;
  height: 500px;
  width: 500px;
  object-fit: cover; /* This will ensure the image covers the area without distortion */

}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  width: 50vh;
  border-radius: 20px;
  background-color: rgba(222, 213, 213, 0);
  position: absolute; /* Added or adjusted position */
  left: 0px; /* Adjusted to position from the left */
  top: 200px; /* Position from the top if needed */
  padding-right: 50px;
}


.intro h1 {
  margin: 0; /* Remove default margin of h1 to tighten the spacing */
  color: azure;
  font-size: 70px;
  /* Instagram's brand color, adjust as needed */
  padding: 0.3rem; /* Optional: Add some padding around the h1 elements */
}
.borders {
 

}




.firstlayer {
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  background-image: url('./intro2.webp');
  background-position: center;
  background-size: cover;

}

.introinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  width: 50vh;
  border-radius: 20px;
  background-color: rgba(222, 213, 213, 0);
  overflow: hidden;
  position: absolute; /* Added or adjusted position */
  right: 15px; /* Adjusted to position from the right */
  top: 200px; /* Position from the top if needed */
}



.secondlayer {
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: -100px;
  background: linear-gradient(145deg, #0f0c29, #232223, #24243e);

}
.introinfo p{
  margin: 0; /* Remove default margin of h1 to tighten the spacing */
  color: azure;
  font-size: 20px;
  white-space: normal; /* Ensures text wraps and doesn't overflow */
  overflow-wrap: break-word; /* Break words that are too long to fit */
  text-align: justify; /* Optional: This will justify your text */

}


.nmims-logo{
  border-radius: 20px;
  margin-top: 35px;
}

.download-cv-button {
  padding: 10px 20px;
  background-color: #252525b3; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer; /* Cursor changes to a hand icon when you hover over the button */
}

.download-cv-button:hover {
  background-color: #efefef; /* Darker shade of green */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #121c12;
}

/* Footer */

.card {
  width: 220px;
  background-color: #212529;
  color: black;
  position: relative;
  border-radius: 6.5em;
  padding: 2em;
  transition: transform 0.4s ease;
  height: 800px;
  overflow: hidden;
}

.card .card-content {
  background-color: #262627;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 150px;
  transition: transform 0.4s ease;
}

.card .card-top, .card .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card .card-top p, .card .card-top .card-title, .card .card-bottom p, .card .card-bottom .card-title {
  margin: 0;
}

.card .card-title {
  font-weight: bold;
}

.card .card-top p, .card .card-bottom p {
  font-weight: 600;
}

.card .card-bottom {
  align-items: flex-end;
}

.card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: flex;
  align-content: center;
  object-fit: contain;
  background-color: #212529;

}



.card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card:hover .card-content {
  transform: scale(0.96);
}


.card:active {
  transform: scale(0.9);
}


.htmllogo{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: flex;
  align-content: center;
  object-fit: contain;

}



.thirdlayer{
 display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: -200px;

}

.fourthlayer{
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: -200px;
  flex-direction: row;


}
.fourthlayer .container {
  display: flex;
  justify-content: space-around; /* This will space your cards evenly */
  flex-wrap: wrap; /* This will allow cards to wrap onto the next line on smaller screens */
}
