

.App {
  text-align: center;
 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #262627;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.intro {
  
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically in the container */
  align-items: center; /* Center children horizontally in the container */
  height: 50vh; /* Optional: Make the div take up the full viewport height */
  text-align: center; /* Center the text inside the h1 elements */
  width: 50vh;
  border-radius: 20px;
  background-color: rgba(222, 213, 213, 0.411); /* White with 50% opacity */
  
}

.intro h1 {
  margin: 0; /* Remove default margin of h1 to tighten the spacing */
  color: azure;
  font-size: 70px;
  /* Instagram's brand color, adjust as needed */
  padding: 0.3rem; /* Optional: Add some padding around the h1 elements */
}
.borders {
  border: none; /* Remove default border */
  height: 10px; /* Set the thickness of the HR */
  background-color: #FFF; /* Set the color of the HR to bold white */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow for depth */
}


.firstlayer {
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: 150px;
}

.introinfo{
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically in the container */
  align-items: center; /* Center children horizontally in the container */
  height: 50vh; /* Optional: Make the div take up the full viewport height */
  text-align: center; /* Center the text inside the h1 elements */
  width: 50vh;
  border-radius: 20px;
  background-color: rgba(222, 213, 213, 0.411); /* White with 50% opacity */
  
}



.secondlayer {
  display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: auto;
  padding-top: 100px;
}
.introinfo p{
  margin: 0; /* Remove default margin of h1 to tighten the spacing */
  color: azure;
  font-size: 29px;


}


.nmims-logo{
  border-radius: 20px;
  margin-top: 35px;
}


/* Footer */

.custom-shape-divider-top-1709205615 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1709205615 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 263px;
}

.custom-shape-divider-top-1709205615 .shape-fill {
  fill: #FFFFFF;
}


.card {
  width: 320px;
  background-color: #262627;
  color: black;
  position: relative;
  border-radius: 6.5em;
  padding: 2em;
  transition: transform 0.4s ease;
  height: 820px;
  overflow: hidden;
}

.card .card-content {
  background-color: #262627;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 150px;
  transition: transform 0.4s ease;
}

.card .card-top, .card .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card .card-top p, .card .card-top .card-title, .card .card-bottom p, .card .card-bottom .card-title {
  margin: 0;
}

.card .card-title {
  font-weight: bold;
}

.card .card-top p, .card .card-bottom p {
  font-weight: 600;
}

.card .card-bottom {
  align-items: flex-end;
}

.card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: flex;
  align-content: center;
  object-fit: contain;
  background-color: #565658;

}



.card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card:hover .card-content {
  transform: scale(0.96);
}


.card:active {
  transform: scale(0.9);
}


.htmllogo{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  display: flex;
  align-content: center;
  object-fit: contain;

}

button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 27px;
  padding: 1em 2.7em ;
  font-weight: 700;
  background: #474748;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;

  height: 90px;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
  font-size: 27px;

}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(185, 16, 98, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

.thirdlayer{
 display: flex; /* Enables Flexbox for this container */
  justify-content: space-around; /* Distributes space around the items */
  align-items: center; /* Aligns items vertically in the center */
  margin-top: auto;
}